.search-bar {
    width: 100vw;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.search-container {
    width: 100%;
    height: 450px;
    background-color: #fcfcfc;
    padding: 2rem;
}

.search-bar.active {
    opacity: 1;
    height: 533px;
}
